<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207696870705-5rahj6uqg0nru13nuod32ns6lmbqmuf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207696870705-5rahj6uqg0nru13nuod32ns6lmbqmuf3</string>
	<key>API_KEY</key>
	<string>AIzaSyCWW1kK125TqbvTHlDkK3SZfdza2--2fk8</string>
	<key>GCM_SENDER_ID</key>
	<string>207696870705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hisham.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-5599d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-5599d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207696870705:ios:c8646914e8d8e349044410</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-5599d.firebaseio.com</string>
</dict>
</plist>